{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 ccol-md-6">
                <h1 class="display-4 logo-font text-black">
                    Step into the Spotlight: Schedule Your Style Consultation Now!</h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg roiunded-0 text-uppercase py-3">Book Now</a>
                </h4>
            </div>
        </div>
    </div> -->

    <div class="container-fluid h-100 d-flex flex-column">

        <!-- First Row -->
        <div class="row text-white text-center flex-grow-1 firstrow">
            <div class="col align-self-center">
                <h4 class="display-4 logo-font text-white">
                    Step into the Spotlight</h4>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-lg roiunded-0 text-uppercase py-3 btn-custom">Our Products</a>
                    </h4>
                </div>
            </div>
        </div>
    
       <!-- Second Row -->
    <div class="row flex-grow-1">
        <div class="col-md-6 thirdtext text-white text-center align-self-stretch">
            <div class="container d-flex flex-column h-100">
                <div class="row flex-grow-1">
                    <div class="col text-white text-center align-self-center">
                        <img src="/media/profile-picture.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 thirdtext text-white text-center align-self-stretch">
            <div class="container d-flex flex-column h-100">
                <div class="row flex-grow-1 ">
                    <div class="col text-white text-center align-self-center">
                        <p >Greetings! I'm [Your Name], your dedicated personal stylist with a passion for transforming wardrobes and elevating individual style. With years of experience in the fashion industry, I'm here to guide you on a journey towards discovering your unique fashion identity.
                            Fashion isn't just about following trends; it's about expressing your personality, boosting your confidence, and creating an impact with your presence. I believe that every individual has a distinct style waiting to be unveiled, and I'm committed to helping you unlock yours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row fourthrow text-white text-center flex-grow-1">
        <div class="col align-self-center">
            <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="testimonial-text">"Discovering the Couture Hub was a game-changer for me! As a busy professional, I struggled to put together stylish outfits that truly reflected my personality. Thanks to their expert stylist, I now feel confident and effortlessly chic every day. The personalized consultation helped me understand my style better, and the curated wardrobe suggestions were spot on. The Couture Hub transformed my wardrobe and my confidence!"</p>
                    </div>
                    <div class="carousel-item">
                        <p class="testimonial-text">"I've never been someone who enjoys shopping, but the Couture Hub changed that completely. Their personal stylist service turned my shopping experience from a chore into a pleasure. From the moment I booked my consultation, I felt like I was in good hands. The stylist listened to my preferences and crafted a selection of outfits that fit my lifestyle perfectly. Now, I look forward to experimenting with new styles and turning heads wherever I go."</p>
                    </div>
                    <div class="carousel-item">
                        <p class="testimonial-text">Wow, just wow! Couture Hub has completely transformed the way I view fashion and dressing up. As a mom of three, I often found myself sticking to the same old outfits out of convenience. The stylist at Couture Hub understood my need for practicality without compromising on style. The personalized tips and suggestions helped me make the most of my existing wardrobe, and the shopping recommendations were a breath of fresh air. Thanks to Couture Hub, I now feel like a fashion-forward mom on the go!"</p>
                    </div>
                    <!-- Add more testimonial items as needed -->
                </div>
            </div>
        </div>
    </div>
    
    
    </div>
    
{% endblock %}