html {
    height: 100%;
}

body {
    /* background: url('/media/shopping.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Marcellus', serif;
}

.firstrow {
    background: url('/media/clothes-bodypicture.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.btn-custom {
    background-color: #8590c0; /* Your desired color */
    color: white; /* Text color */
    min-width: 260px;
  }
.fourthrow {
    background-color: #404565; /* Your desired color */
    
}

.testimonial-text {
    padding: 10%; /* Add padding around the paragraph */
    text-align: center; /* Center the text inside the paragraph */
}


.col-md-6.thirdtext.text-white.text-center.align-self-stretch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .col-md-6.thirdtext.text-white.text-center.align-self-stretch img {
    width: 100%; /* Make the image take up the full width of the parent div */
    height: 100%; /* Make the image take up the full height of the parent div */
    object-fit: cover; /* Maintain aspect ratio and cover the parent div */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

/* Typing effect */

@keyframes typing {
    from {
        width: 0; /* Start with zero width */
    }
    to {
        width: 100%; /* End with full width */
    }
}

.typing-effect {
    overflow: hidden; /* Hide overflow to create typing effect */
    white-space: nowrap; /* Prevent text from wrapping */
    border-right: 3px solid white; /* Create cursor blinking effect */
    text-transform: lowercase; /* Convert text to lowercase (or uppercase if needed) */
    animation: typing 3s steps(20) infinite, blink-caret 0.75s step-end infinite; /* Apply animations */
}

@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Hide the caret */
    }
    50% {
        border-color: white; /* Show the caret */
    }
}

  

/* background colour third col */
.thirdtext {
    background-color: #8590c0;
}  

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo {
    font-family: 'Times New Roman', Times, serif;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
    
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 185px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .col-md-6.thirdtext.text-white.text-center.align-self-stretch img {
        margin-top: 10%;
        margin-bottom: 10%; /* Maintain aspect ratio and cover the parent div */
      }

    .firstrow {
        margin-top: 5%;
    }
}