html {
    height: 100%;
}

body {
    /* background: url('/media/shopping.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Marcellus', serif;
}

.firstrow {
    background: url('/media/clothes-bodypicture.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.secondrow {
    padding-top: 5%;
    padding-bottom: 5%;
}

.innerfirstrow {
    padding-top: 7%;
    padding-bottom: 5%;
}

.btn-custom {
    background-color: #8590c0; /* Your desired color */
    color: white; /* Text color */
    min-width: 260px;
  }
.fourthrow {
    background-color: #404565; /* Your desired color */
    
}

.testimonial-text {
    padding: 10%; /* Add padding around the paragraph */
    text-align: center; /* Center the text inside the paragraph */
}


.col-md-6.thirdtext.text-white.text-center.align-self-stretch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .col-md-6.thirdtext.text-white.text-center.align-self-stretch img {
    width: 100%; /* Make the image take up the full width of the parent div */
    height: 100%; /* Make the image take up the full height of the parent div */
    object-fit: cover; /* Maintain aspect ratio and cover the parent div */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

/* Typing effect */

@keyframes typing {
    from {
        width: 0; /* Start with zero width */
    }
    to {
        width: 100%; /* End with full width */
    }
}

.typing-effect {
    overflow: hidden; /* Hide overflow to create typing effect */
    white-space: nowrap; /* Prevent text from wrapping */
    border-right: 3px solid white; /* Create cursor blinking effect */
    text-transform: lowercase; /* Convert text to lowercase (or uppercase if needed) */
    animation: typing 3s steps(20) infinite, blink-caret 0.75s step-end infinite; /* Apply animations */
}

@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Hide the caret */
    }
    50% {
        border-color: white; /* Show the caret */
    }
}

  

/* background colour third col */
.thirdtext {
    background-color: #8590c0;
}  

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo {
    font-family: 'Times New Roman', Times, serif;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
    
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 185px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .col-md-6.thirdtext.text-white.text-center.align-self-stretch img {
        margin-top: 10%;
        margin-bottom: 10%; /* Maintain aspect ratio and cover the parent div */
      }

    .firstrow {
        margin-top: 5%;
    }
}