<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog:list' %}" id="all-products-link" >
                Our Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="clothing-link" >
                Store
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <form class="form-inline my-2 my-lg-0" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary mx-2 mt-3 mb-3" type="submit">Log Out
                </button>
              </form>
        </li>
        {% endif %}
    </ul>
</div>